.blockpanel {

    padding-top: 40px;
    padding-bottom: 40px;

}

.colourpanel {
    color: white;

    padding-left: 5%;
    padding-right: 5%;
}


#bg1 {
    background: url("img/bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg2 {
    background: url("img/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg3 {
    background: url("img/bg3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg4 {
    background: url("img/bg4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg5 {
    background: url("img/bg5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3 {
    margin-top: 0px;
}

.btn {
    border-radius: 0px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-default {
    background: rgba(255,255,255,0.7);
    border: 0px;
}

#apply-second {
    background: url("img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;

    margin-top: 25px;
    margin-bottom: 25px;

    padding-top: 30px;
    padding-bottom: 30px;
}

#apply-second  a {

    margin-top: 15px;

}

#faq {
    font-size: 1.1em;
}

hr.black {

    border-color: black;

}


@media (min-width:1180px) {


    #mentors {

        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-wrap: wrap;

    }

    #mentors > div {

        padding: 15px;
        width: 32%;
    }


    #sponsors .row {

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .flexfloat {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

}

@media (min-width:768px) {


    .navbar {
        height: 140px;
    }

    .navbar > .container > .navbar-header {
        height: 140px;
    }

    .navbar > .container > .navbar-header > img {
        height: 140px;
    }

    .navbar > .container {
        height: 140px;
    }

    #bg1 {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    #bg1 > h1 {
        font-size: 50px;

    }

    .navbar > .container > .navbar-text {
        font-size: 20px;

        margin-top: 49px;
        padding-left: 15px;
    }

}

#bg1 {
    color: white;
}

#bg1 > h1 {
    color: white;
}

#bg1 > .lead {
    font-size: 27px;
}

#bg1 > h1 > small {
    color: #eee;
}

#sponsors {
    background: rgb(255,255,255);
}

h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

#sponsors img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 200px;
    vertical-align: middle;
    max-width: 100%;
}

#sponsors .row1 img {
    max-height: 230px;
}

#sponsors .row2 img {
    max-height: 200px;
}

#sponsors .row3 img {
    max-height: 200px;
}

#sponsors .row4 img {
    max-height: 100px;
}


.navbar {
    margin-bottom: 0px;
    color: #2d2d2d;
}

.mastfoot {
    color: white;
    padding-top: 30px;
    background: #2d2d2d;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.rg {
    max-height: 100px;
}


.halfblock {
    width: 45%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;

}


#links {

    background: rgb(244,244,244);

}


p.lead{
    margin:0;
}


hr {
    border-color: light-grey;
}


.mediaquotes ul {
    padding-left: 10px;
}

.mediaquotes {
    font-size: 1.9rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.mediaquotes blockquote {
    font-size: 2.2rem;
    margin-bottom: 0px;
}


.mediaquotes a {
    text-decoration: underline;
}

.mediaquotes a:hover {
    text-decoration: none;
}
